button.extra_info(type='button') Нажми меня! 
.popup_extra_info
    h1.popup_extra_info_title ВНИМАНИЕ
    p.popup_extra_info_text Сайт создан для демонстрации умений в веб-программировании. Все совпадения случайны и не несут никакого негативного смысла.
    button.popup_extra_info_button Закрыть
script(src='./template/extra_info.js')

