.footer 
    .footercontainer
                a(href="#") 
                    img.footer_logo(src="./image/first-screen__logo.svg", alt="logo")
                ul.footer_list1 
                    li.footer_point 
                        a.footer_link(href="./building.pug") О комплексе    
                    li.footer_point 
                        a.footer_link(href="./borough.pug") Район
                    li.footer_point 
                        a.footer_link(href="./level.pug") Планы этажей
                    li.footer_point 
                        a.footer_link(href="./finances.pug") Ипотека
                    li.footer_point 
                        a.footer_link(href="./contacts.pug") Контакты                           
                ul.footer_list2 
                    li.footer_point 
                        a.footer_link(href="./building.pug") О комплексе    
                    li.footer_point 
                        a.footer_link(href="./borough.pug") Район
                    li.footer_point 
                        a.footer_link(href="./blocks.pug") Каталог квартир
                    li.footer_point 
                        a.footer_link(href="./izumrud.pug") Корпус "Изумруд"
                    li.footer_point 
                        a.footer_link(href="./sapfir.pug") Корпус "Сапфир"                           
                ul.footer_list3(id='contacts')
                    li.footer_point 
                        a.footer_link(href="#") Адрес: Апрельская улица д.10    
                    li.footer_point 
                        a.footer_link(href="#") Телефон: 8 (812) 123-45-67
                    li.footer_point 
                        a.footer_link(href="#") Отдел продаж: 10:00 - 20:00
                    li.footer_point 
                        a.footer_link(href="#") E-mail: #[span.gold vip@housevip.shop] 
                    li.footer_point.social 
                        a.footer_link(href="#")
                            img(src="./image/youtube.png", alt="youtube", width='29', height='20')
                        a.footer_link(href="#")
                            img(src="./image/vk.png", alt="vk", width='35', height='20')
                        a.footer_link(href="#")
                            img(src="./image/fb.png", alt="fb", width='20', height='20')
                        a.footer_link(href="#")
                            img(src="./image/instagram.png", alt="instagram", width='20', height='20')                        
script(src="./template/footer.js") 