.firstscreen_header
                        .firstscreen_logo
                            a(href="./index.pug") 
                                img.logo(src="./image/first-screen__logo.svg", alt="logo")
                        .firstscreen_menu
                            ul.firstscreen_list 
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./building.pug") О комплексе    
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./borough.pug") Район
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./blocks.pug") Каталог квартир
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./finances.pug") Ипотека
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./contacts.pug") Контакты
script(src="./template/header.js")                                     