@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    width: 100%;
    height: auto;
    background-color: #242B33;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-align: left;

    color: #ffffff;

    overflow-x: hidden;
}


// firstscreen

.firstscreen {
    width: 100%;
    height: auto;

    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    
}

.firstscreen_promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Blocks
.description {
    margin-top: 50px;
}

.description_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Titles
.description_title {
    font-family: Playfair Display, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: #D4C17F;
}

// Images

.description_image {
    margin-top: 20px;
}

// Text
.description_text {
    word-wrap: wrap;
    text-align: justify;
}

.outer_text,
.smarthouse_text {
    word-wrap: wrap;
    text-align: justify;
    margin-left: 20px;
}

// clearfix
.clearfix {
    content: '';
    clear: both;
}

