doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")                
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js") 
        title О комплексе
    body
        .firstscreen 
            .wrapper
                .firstscreen_promo 
                    .firstscreen_header
                        .firstscreen_logo
                            a(href="./index.pug") 
                                img.logo(src="./image/first-screen__logo.svg", alt="logo")
                        .firstscreen_menu
                            ul.firstscreen_list 
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./building.pug") О комплексе    
                                li.firstscreen_point 
                                    a.firstscreen_link(href="#") Район
                                li.firstscreen_point 
                                    a.firstscreen_link(href="#") Каталог квартир
                                li.firstscreen_point 
                                    a.firstscreen_link(href="#") Ипотека
                                li.firstscreen_point 
                                    a.firstscreen_link(href="#") Контакты
                    .firstscreen_center.anim0
                        h2.firstscreen_center__title Жилой комплекс "Crystall HOUSE"
                        img.firstscreen_center__map(src='image/building/panoramaZK.jpg', alt='panorama' width='1100px')
        .description
            wrapper
                h2.description_title О комплексе
                img.description_image(src="./image/building/1.jpg", alt="1")
                p.description_text Жилой комплекс Crystall House состоит из 2 корпусов, расположенных на перекрестке проспекта Металлистов и Апредьской улицы. Оба корпуса "Изумруд" и "Сапфир" представляют собой 14-этажные кирпичные здания на 97 квартир каждый. Внутри зданий расположены 1-3-комнатными квартиры, площадь которых составляет 36, 54 и 60 квадратов соответственно, площадь кухонь – 7-9 кв.м. Отличительной особенностью данного комплекса является отсутствие студий. На первом этаже каждого из домов  имеются помещения для консьержа, системы видеонаблюдения и домофоны. В подземной части здания предусмотрены кладовые для жильцов комплекса. Дома оснащены двумя лифтами (пассажирским и грузовым) и мусоропроводом. Черная лестница сообщается с лифтовой площадкой через лоджию. Все квартиры оборудованы большой лоджией на два окна. Санузлы во всех квартирах раздельные, оборудованы ванными.
                .clearfix
        .outer
            wrapper
                h2.outer_title Наружная отделка
                img.outer_image(src="./image/building/2.jpg", alt="2")
                p.outer_text Наружная отделка состоит из декоративного кирпича светло-зеленых (корпус "Изумруд") и перламутрово-синих (корпус "Сапфир"). Поперечные несущие стены, продольные стены и плиты перекрытий обеспечивают пространственную жесткость, межэтажные плиты перекрытий – монолитные панели.
                p.outer_text Каждый из корпусов жилого комплекса имеет закрытий двор с системой видеонаблюдения и ограниченным доступом с помощью специального ключа. На территории двора имеются детская площадка для маленьких детей и площадка с тренажерами для занятия детей старшего возраста и взрослых. Также на территории двора имеется зеленая зона со скамейками и шезлонгами для отдыха. За пределами двора предусмотрены по 2 автомобильные парковки вместимостью 30 машиномест (для жителей) и 10 машиномест (для гостей и посетителей). Въезд на каждую из парковок оборудован шлагбаумом. Въезд возможен только по специальному пропуску
                .clearfix
        .inner
             wrapper 
                h2.inner_title Внутренняя отделка
                img.inner_image(src="./image/building/3.jpg", alt="3")
                p.inner_text Дома сдаются с чистовой отделкой. Отделка от застройщика включает в себя чистовой пол из массива дерева в комнатах, плитка из керамогранита на кухне и коредоре, кафельная плитка в санузлах. Стены в комнатах и на кухне поклеены обоями под покраску, в санузлах на стенах уложена кафельная плитка.  В зоне размещения кухонного гарнитура стены декорированы кафельной плиткой. В санузлах установлена вся сантехника, разведена электропроводка, установлено энергосберегающее освещение. Все квартиры укомплектованы кухонными гарнитурами российского и белорусского производства, холодильниками, газовыми плитами и автоматическими стиральными машинами.
                .clearfix
        .smarthouse
            wrapper                
                h2.smarthouse_title Система "Умный дом"
                img.smarthouse_image(src="./image/building/4.jpg", alt="4")
                p.smarthouse_text Жилой комплекс Сrystall House оснащен системой "умный дом", которая позволяет при помощи одного приложения контролировать всю жизнедеятельность в месте проживания из любой точки мира. При помощи приложения вы можете:
                ul.smarthouse_list
                    li.smarthouse_point контролировать работу электрических приборов и отопления;
                    li.smarthouse_point иметь доступ к системам видеонаблюдения во внутренних помещениях домов, лифтах и во дворах;
                    li.smarthouse_point иметь дистанционный доступ к показаниям приборов учета потребления коммунальных услуг;
                    li.smarthouse_point дистанционно передавать показания счетчиков;
                    li.smarthouse_point иметь мгновенное оповещение в случае чрезвычайных ситуаций и иных опасных ситуаций;
                .clearfix
        .last
             wrapper
                .last_block
                    img.last_image(src="./image/building/5.jpg", alt="5")
                    a.last_link(href="#") Перейти к выбору квартир  
        .footer 
            .footercontainer
                a(href="#") 
                    img.footer_logo(src="./image/first-screen__logo.svg", alt="logo")
                ul.footer_list1 
                    li.footer_point 
                        a.footer_link(href="#") О комплексе    
                    li.footer_point 
                        a.footer_link(href="#") Район
                    li.footer_point 
                        a.footer_link(href="#") Каталог квартир
                    li.footer_point 
                        a.footer_link(href="#") Ипотека
                    li.footer_point 
                        a.footer_link(href="#") Контакты                           
                ul.footer_list2 
                    li.footer_point 
                        a.footer_link(href="#") О комплексе    
                    li.footer_point 
                        a.footer_link(href="#") Район
                    li.footer_point 
                        a.footer_link(href="#") Каталог квартир
                    li.footer_point 
                        a.footer_link(href="#") Ипотека
                    li.footer_point 
                        a.footer_link(href="#") Контакты                           
                ul.footer_list3 
                    li.footer_point 
                        a.footer_link(href="#") Адрес: Апрельская улица д.10    
                    li.footer_point 
                        a.footer_link(href="#") Телефон: 8 (812) 123-45-67
                    li.footer_point 
                        a.footer_link(href="#") Отдел продаж: 10:00 - 20:00
                    li.footer_point 
                        a.footer_link(href="#") E-mail: #[span.gold vip@housevip.ru] 
                    li.footer_point.social 
                        a.footer_link(href="#")
                            img(src="./image/youtube.png", alt="youtube", width='29', height='20')
                        a.footer_link(href="#")
                            img(src="./image/vk.png", alt="vk", width='35', height='20')
                        a.footer_link(href="#")
                            img(src="./image/fb.png", alt="fb", width='20', height='20')
                        a.footer_link(href="#")
                            img(src="./image/instagram.png", alt="instagram", width='20', height='20')                                
        script(src="building.js") 
                    

