@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    width: 100%;
    height: auto;
    background-color: #242B33;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-align: left;

    color: #ffffff;

    overflow-x: hidden;
}


// firstscreen

.firstscreen {
    width: 100%;
    height: auto;

    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    
}

.firstscreen_promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstscreen_center {
    width: 582px;
    height: auto;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstscreen_center__logo {
    margin-top: 100px;
}

.firstscreen_center__title {
    font-family: Playfair Display, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: #D4C17F;
}

// Blocks
.description,
.outer,
.inner,
.smarthouse,
.last {
    margin-top: 120px;
}

.last_block {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Titles
.description_title,
.outer_title,
.inner_title,
.smarthouse_title {
    font-family: Playfair Display, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: #D4C17F;
}

.last_title {
    font-family: Playfair Display, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: #D4C17F;
}

.last_link {
    font-family: Playfair Display, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: #D4C17F;

    display: block;
    text-decoration: none;
    width: 400px;
    height: 64px;
    padding: 5px;

    margin-top: 20px;
}

.last_link:hover {
    cursor: pointer;
    background-color: #D4C17F;
    color: #242B33;
}

// Images

.description_image,
.inner_image {
    float: left;
    margin-right: 50px;
}

.outer_image,
.smarthouse_image {
    float: right;
    margin-left: 50px;
}

.last_image {
    margin: 0 auto;
}

// Text
.description_text,
.inner_text {
    word-wrap: wrap;
    text-align: justify;
    margin-right: 20px;
}

.outer_text,
.smarthouse_text {
    word-wrap: wrap;
    text-align: justify;
    margin-left: 20px;
}

// clearfix
.clearfix {
    content: '';
    clear: both;
}

