doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")                
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.1/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.2.3/jquery.maphilight.js")
        title Ипотека
    body
        .firstscreen 
            .wrapper
                .firstscreen_promo 
                    include template/_header.pug
                    .firstscreen_center.anim0
                        h2.firstscreen_center__title Если финансы пока поют романсы,
                        h2.firstscreen_center__title То с ипотекой все сложно,
                        h2.firstscreen_center__title Ну а рассрочек пока не предусмотрено!
        .popup_timer
            h1.popup_title УНИКАЛЬНОЕ ПРЕДЛОЖЕНИЕ!
            p.popup_text Квартира за 1 рубль. Звоните!!! 
            p.popup_text Не можете дозвониться?
            p.popup_text Ну проблемы индейцев шерифа не волнуют...
            button.timer_button Закрыть
        include template/_footer.pug
        script(src="finances.js") 
                    

