doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")                
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.1/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.2.3/jquery.maphilight.js")
        title Квартира 1-1
    body
        .firstscreen 
            .wrapper
                .firstscreen_promo 
                    include template/_header.pug
                    .firstscreen_center.anim0
                        h2.firstscreen_center__title Жилой комплекс "Crystall HOUSE"
                        h3.firstscreen_center__title Двухкомнатная квартира 2-1
                        img.firstscreen_center__map(src='image/flats/2-1.jpg', alt='2_1.flat', width='404px', usemap='#flat2_1', id='flat2-1')
                        map(name="flat2_1")
                            area(shape="poly", coords="222,150,319,145,321,138,341,141,343,214,325,213,325,169,295,169,296,214,223,214", href="#", alt="coridor", title='Коридор', id='coridor')
                            area(shape="rect", coords="324,42,390,136", href="#", alt="kitchen", title='Кухня', id='kitchen')
                            area(shape="rect", coords="349,142,390,163", href="#", alt="toilet", title='Туалет', id='toilet')
                            area(shape="rect", coords="350,169,390,214", href="#", alt="bathroom", title='Ванная', id='bathroom')
                            area(shape="rect", coords="298,172,321,213", href="#", alt="storage room", title='Темная комната', id='storageroom') 
                            area(shape="rect", coords="221,2,389,28", href="#", alt="balcony", title='Балкон-лоджия', id='balcony') 
                            area(shape="rect", coords="1,75,28,200", href="#", alt="balcony", title='Балкон-лоджия', id='balcony') 
                            area(shape="rect", coords="222,43,320,142", href="#", alt="bedroom", title='Спальня', id='bedroom') 
                            area(shape="rect", coords="41,74,207,174", href="#", alt="livingroom", title='Гостинная', id='livingroom')
                        .flat_description                     
                            p.flat_description_text

        include template/_footer.pug
        script(src="flat2-1.js") 
                    

