doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")                
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.1/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.2.3/jquery.maphilight.js")
        title Квартира 1-1
    body
        .firstscreen 
            .wrapper
                .firstscreen_promo
                    include template/_header.pug
                    .firstscreen_center.anim0
                        h2.firstscreen_center__title Жилой комплекс "Crystall HOUSE"
                        h3.firstscreen_center__title Трехкомнатная квартира 3-1
                        img.firstscreen_center__map(src='image/flats/3-1.jpg', alt='3_1.flat', width='376px', usemap='#flat3_1', id='flat3-1') 
                        map(name="flat3_1")
                            area(shape="poly", coords="58,212,59,141,80,143,81,149,182,149,181,214,99,213,100,172,81,172,80,211", href="#", alt="coridor", title='Коридор', id='coridor')
                            area(shape="rect", coords="14,42,79,137", href="#", alt="kitchen", title='Кухня', id='kitchen')
                            area(shape="rect", coords="13,143,53,159", href="#", alt="toilet", title='Туалет', id='toilet')
                            area(shape="rect", coords="13,167,54,212", href="#", alt="bathroom", title='Ванная', id='bathroom')
                            area(shape="rect", coords="82,172,100,219", href="#", alt="storage room", title='Темная комната', id='storageroom') 
                            area(shape="rect", coords="13,2,180,25", href="#", alt="balcony", title='Балкон-лоджия', id='balcony') 
                            area(shape="rect", coords="84,42,179,140", href="#", alt="bedroom", title='Спальня', id='bedroom1') 
                            area(shape="rect", coords="295,38,361,172", href="#", alt="bedroom", title='Спальня', id='bedroom2') 
                            area(shape="rect", coords="194,40,289,171", href="#", alt="livingroom", title='Гостинная', id='livingroom')
                        .flat_description 
                            p.flat_description_text

        include template/_footer.pug
        script(src="flat3-1.js") 
                    

