@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    width: 100%;
    height: auto;
    background-color: #242B33;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-align: left;

    color: #ffffff;

    overflow-x: hidden;
}


// firstscreen

.firstscreen {
    width: 100%;
    height: auto;

    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    
}

.firstscreen_promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstscreen_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.firstscreen_list {
    list-style: none;
}

.firstscreen_point {
    display: inline-block;
}

.firstscreen_link {
    text-decoration: none;
    display: block;
    padding: 5px;
    margin-right: 35px;
    color: #ffffff;
    cursor: pointer;
}

.firstscreen_link:hover {
    color: #000000;
    background-color: #ffffff;
}

.firstscreen_center {
    width: 582px;
    height: auto;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstscreen_center__logo {
    margin-top: 100px;
}

.firstscreen_center__title {
    font-family: Playfair Display, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: #D4C17F;
}

// footer

.footer {
    width: 100%;
    height: auto;
    background: #2D343C;
    margin-top: 100px;

    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;

    color: #ffffff;
}

.footercontainer {
    width: 1100px;
    margin: 0 auto;
    padding-top: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_list1,
.footer_list2,
.footer_list3 {
    list-style: none;
}

.footer_link {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
}

.footer_link:hover {
    color: #000000;
    background-color: #ffffff;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.gold {
    color: #D4C17F;
}


// extra CSS-settings for animation

.firstscreen_logo,
.footer_logo, .footer_list1 {
    transform: translateX(-1200px);
}

.firstscreen_menu, 
.footer_list2, .footer_list3 {
    transform: translateX(1200px);
}

// animation classes

.anim00, .anim0, .anim1, .anim2, .anim3, .anim4  {
    opacity: 0;
}

.animfromleft { 
    transform: translateX(0);
    transition: ease-in 2s; 
}

.animfromright { 
    transform: translateX(0);
    transition: ease-in 2s; 
}

.animfromleftfast { 
    transform: translateX(0);
    transition: ease-in 1s; 
}

.animfromrightfast { 
    transform: translateX(0);
    transition: ease-in 1s; 
}

