doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js") 
        title Жилой комплекс "Crystall HOUSE"
    body 
        .firstscreen 
            .wrapper
                .firstscreen_promo 
                    .firstscreen_header
                        .firstscreen_logo
                            img.logo(src="./image/first-screen__logo.svg", alt="logo")
                        .firstscreen_menu
                            ul.firstscreen_list 
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./building.pug") О комплексе    
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./borough.pug") Район
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./blocks.pug") Каталог квартир
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./finances.pug") Ипотека
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./contacts.pug") Контакты
                    .firstscreen_center.anim0
                        h2.firstscreen_center__title Жилой комплекс в историческом центре
                        img.firstscreen_center__logo(src='image/mouse.png', alt='mouse')
                        .firstscreen_center__footer
                            .firstscreen_center__placeholder
                                img.firstscreen_center__footerlogo(src="./image/placeholder.png", alt="placeholder")
                                span.firstscreen_center__footertext Апрельская улица д. 10
                            .firstscreen_center_phone    
                                img.firstscreen_center__footerlogo(src="./image/phone-call.png", alt="phone-call")
                                span.firstscreen_center__footertext 8 (812) 123-45-67
        .testimonials 
            .wrapper
                .second 
                    span.bignumber_text II    
                .testimonials_info 
                    .testimonials_info_point.anim1 
                        img.point_image(src="./image/bench.png", alt="" width='80', height='80')
                        p.point_text Рядом исторические парки и скверы
                    .testimonials_info_point.anim2 
                        img.point_image(src="./image/building.png", alt="" width='80', height='80')
                        p.point_text Полностью обустроенный
                    .testimonials_info_point.anim3 
                        img.point_image(src="./image/fountain.png", alt="" width='80', height='80')
                        p.point_text 10 фонтанов на территории
                    .testimonials_info_point.anim4 
                        img.point_image(src="./image/bicycle.png", alt="" width='80', height='80')
                        p.point_text 6 км велодорожек
        .apartments 
            .wrapper
                .third
                    span.bignumber_text III   
                .apartments_gallery
                    h2.apartments_title Наши квартиры
                    .apartments_card.card1.anim5 
                        span.apartments_text Лофт — 3 этажа
                    .apartments_card.card2.anim6 
                        span.apartments_text Лофт — 3 этажа
                    .apartments_card.card3.anim7 
                        span.apartments_text Лофт — 2 этажа
                    .apartments_card.card4.anim8 
                        span.apartments_text Лофт — 2 этажа
        .cta 
            .wrapper 
                .cta_block 
                    h2.cta_title Хотите посмотреть?
                    p.cta_text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. 
                    form.cta_form(action="", method="get")
                        input.cta_name(type="text", placeholder='Ваше имя', pattern='[А-Яа-яЁё]')
                        input.cta_phone(type="tel", placeholder='Ваш телефон', pattern='[0-9]{10}')    
                        p.cta_hint *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
                        button.cta_button.correctX(type='button') Посмотреть район
        .video 
            .wrapper
                .fourth
                    span.bignumber_text IV
                .videocontainer.anim9
                    video.promovideo(src="./image/video1.mp4", controls='controls', width='640', height='360', loop='loop', poster='./image/Rectangle1.jpg')
        .maps
            .wrapper
                .fifth
                    span.bignumber_text V
                .mapscontainer.anim10
                    h2.map_title Район на карте
                    .leafletmaps(id='mymap') 
                    //- img.map_picture(src="./image/map.jpg", alt="map", width='1100', height='auto') 
        .cta2 
            .wrapper 
                .cta_block2.anim11
                    h2.cta_title2 Есть вопросы?
                    form.cta_form2(action="", method="get")
                        p.cta_hint2 *Мы никому не передаем ваши данные. И не сохраняем ваш номер в базу.
                        input.cta_name2(type="text", placeholder='Ваше имя', pattern='[А-Яа-яЁё]')
                        input.cta_phone2(type="tel", placeholder='Ваш телефон', pattern='[0-9]{10}')    
                        button.cta_button2.correctY(type='button') Посмотреть район
        .popup
            h1.popup_title 
            p.popup_text 
            button.popup_button Закрыть
        .popup_timer
            h1.popup_title УНИКАЛЬНОЕ ПРЕДЛОЖЕНИЕ!
            p.popup_text Квартира за 1 рубль. Звоните!!! 
            p.popup_text Не можете дозвониться?
            p.popup_text Ну проблемы индейцев шерифа не волнуют...
            button.timer_button Закрыть
        .footer 
            .footercontainer
                a(href="#") 
                    img.footer_logo(src="./image/first-screen__logo.svg", alt="logo")
                ul.footer_list1 
                    li.footer_point 
                        a.footer_link(href="./building.pug") О комплексе    
                    li.footer_point 
                        a.footer_link(href="./borough.pug") Район
                    li.footer_point 
                        a.footer_link(href="./level.pug") Планы этажей
                    li.footer_point 
                        a.footer_link(href="./finances.pug") Ипотека
                    li.footer_point 
                        a.footer_link(href="./contacts.pug") Контакты                           
                ul.footer_list2 
                    li.footer_point 
                        a.footer_link(href="./building.pug") О комплексе    
                    li.footer_point 
                        a.footer_link(href="./borough.pug") Район
                    li.footer_point 
                        a.footer_link(href="./blocks.pug") Каталог квартир
                    li.footer_point 
                        a.footer_link(href="./izumrud.pug") Корпус "Изумруд"
                    li.footer_point 
                        a.footer_link(href="./sapfir.pug") Корпус "Сапфир"                           
                ul.footer_list3(id='contacts')
                    li.footer_point 
                        a.footer_link(href="#") Адрес: Апрельская улица д.10    
                    li.footer_point 
                        a.footer_link(href="#") Телефон: 8 (812) 123-45-67
                    li.footer_point 
                        a.footer_link(href="#") Отдел продаж: 10:00 - 20:00
                    li.footer_point 
                        a.footer_link(href="#") E-mail: #[span.gold vip@housevip.ru] 
                    li.footer_point.social 
                        a.footer_link(href="#")
                            img(src="./image/youtube.png", alt="youtube", width='29', height='20')
                        a.footer_link(href="#")
                            img(src="./image/vk.png", alt="vk", width='35', height='20')
                        a.footer_link(href="#")
                            img(src="./image/fb.png", alt="fb", width='20', height='20')
                        a.footer_link(href="#")
                            img(src="./image/instagram.png", alt="instagram", width='20', height='20')                        
                
        script(src="main.js") 
