doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")                
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.1/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.2.3/jquery.maphilight.js")
        title Корпус "Изумруд"
    body
        .firstscreen 
            .wrapper
                .firstscreen_promo 
                    .firstscreen_header
                        .firstscreen_logo
                            a(href="./index.pug") 
                                img.logo(src="./image/first-screen__logo.svg", alt="logo")
                        .firstscreen_menu
                            ul.firstscreen_list 
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./building.pug") О комплексе    
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./borough.pug") Район
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./blocks.pug") Каталог квартир
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./finances.pug") Ипотека
                                li.firstscreen_point 
                                    a.firstscreen_link(href="./contacts.pug") Контакты
        .izumrud.anim0
            .wrapper 
                .izumrud_block
                    h2.izumrud__title Жилой комплекс "Crystall HOUSE"
                    h2.izumrud__title_second Корпус "Изумруд"
                    h2.izumrud__title_third Выберите предпочитаемый этаж
                    img.izumrud__map(src='image/blocks/izumrud.jpg', alt='panorama', width='820px', usemap='#izum')
                    map(name="izum")
                        area(shape="poly", coords="165,462,564,441,626,473,628,499,567,484,163,495", href="./level.html", alt="level_3", title='ЭТАЖ 3') 
                        area(shape="poly", coords="176,426,565,397,619,439,615,402,560,352,178,393", href="./level.html", alt="level_5", title='ЭТАЖ 5') 
                        area(shape="poly", coords="191,332,555,278,608,341,610,360,559,314,188,358,190,343", href="./level.html", alt="level_7", title='ЭТАЖ 7') 
                        area(shape="poly", coords="198,271,557,203,604,266,605,279,555,240,194,296", href="./level.html", alt="level_9", title='ЭТАЖ 9') 
                        area(shape="poly", coords="448,160,207,219,200,247,551,170,602,250,599,222,551,138", href="./level.html", alt="level_11", title='ЭТАЖ 11') 
                        area(shape="poly", coords="215,166,545,75,595,163,597,181,549,108,211,195,214,177", href="./level.html", alt="level_13", title='ЭТАЖ 13') 
        .footer 
            .footercontainer
                a(href="#") 
                    img.footer_logo(src="./image/first-screen__logo.svg", alt="logo")
                ul.footer_list1 
                    li.footer_point 
                        a.footer_link(href="./building.pug") О комплексе    
                    li.footer_point 
                        a.footer_link(href="./borough.pug") Район
                    li.footer_point 
                        a.footer_link(href="./blocks.pug") Каталог квартир
                    li.footer_point 
                        a.footer_link(href="./finances.pug") Ипотека
                    li.footer_point 
                        a.footer_link(href="./contacts.pug") Контакты                           
                ul.footer_list2 
                    li.footer_point 
                        a.footer_link(href="./building.pug") О комплексе    
                    li.footer_point 
                        a.footer_link(href="./borough.pug") Район
                    li.footer_point 
                        a.footer_link(href="./blocks.pug") Каталог квартир
                    li.footer_point 
                        a.footer_link(href="./izumrud.pug") Корпус "Изумруд"
                    li.footer_point 
                        a.footer_link(href="./sapfir.pug") Корпус "Сапфир"                           
                ul.footer_list3
                    li.footer_point 
                        a.footer_link(href="#") Адрес: Апрельская улица д.10    
                    li.footer_point 
                        a.footer_link(href="#") Телефон: 8 (812) 123-45-67
                    li.footer_point 
                        a.footer_link(href="#") Отдел продаж: 10:00 - 20:00
                    li.footer_point 
                        a.footer_link(href="#") E-mail: #[span.gold vip@housevip.ru] 
                    li.footer_point.social 
                        a.footer_link(href="#")
                            img(src="./image/youtube.png", alt="youtube", width='29', height='20')
                        a.footer_link(href="#")
                            img(src="./image/vk.png", alt="vk", width='35', height='20')
                        a.footer_link(href="#")
                            img(src="./image/fb.png", alt="fb", width='20', height='20')
                        a.footer_link(href="#")
                            img(src="./image/instagram.png", alt="instagram", width='20', height='20')                        
        script(src="izumrud.js") 
                    

