@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    width: 100%;
    height: auto;
    background-color: #242B33;

    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-align: left;

    color: #ffffff;

    overflow-x: hidden;
}


// firstscreen

.firstscreen {
    width: 100%;
    height: auto;

    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    
}

.firstscreen_promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstscreen_center {
    width: 582px;
    height: auto;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstscreen_center__logo {
    margin-top: 100px;
}

.firstscreen_center__title {
    font-family: Playfair Display, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: #D4C17F;
}

