doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")                
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.1/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.2.3/jquery.maphilight.js")
        title Корпус "Сапфир"
    body
        .firstscreen 
            .wrapper
                .firstscreen_promo
                    include template/_header.pug
        .sapfir.anim0
            .wrapper 
                .sapfir_block
                    h2.sapfir__title Жилой комплекс "Crystall HOUSE"
                    h2.sapfir__title_second Корпус "Сапфир"
                    h2.sapfir__title_third Выберите предпочитаемый этаж
                    img.sapfir__map(src='./image/blocks/sapfir.jpg', alt='panorama', width='820px', usemap='#sapf', id='mapzk')
                    map(name="sapf")
                        area(shape="poly", coords="665,533,261,536,205,536,209,495,250,488,661,495,663,509", href="./level.html", alt="level_2", title='Этаж 2') 
                        area(shape="poly", coords="655,463,255,439,198,470,202,434,257,394,648,427", href="./level.html", alt="level_4", title='Этаж 4') 
                        area(shape="poly", coords="258,351,209,389,210,363,260,313,635,363,639,394", href="./level.html", alt="level_6", title='Этаж 6') 
                        area(shape="poly", coords="263,277,213,325,215,309,267,240,626,300,629,328", href="./level.html", alt="level_8", title='Этаж 8') 
                        area(shape="poly", coords="618,246,270,173,217,231,215,253,268,206,624,274", href="./level.html", alt="level_10", title='Этаж 10') 
                        area(shape="poly", coords="616,220,272,136,221,230,224,200,270,108,612,198", href="./level.html", alt="level_12", title='Этаж 12') 
                        area(shape="poly", coords="608,169,274,77,226,165,228,138,274,48,604,144", href="./level.html", alt="level_14", title='Этаж 14') 
        include template/_footer.pug
        script(src="sapfir.js") 
                    

